services:
  mongo:
    image: mongo:8.0.15
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - 27017:27017

  mongo-express:
    image: mongo-express:1.0.2
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
      ME_CONFIG_MONGODB_URL: mongodb://root:root@mongo:27017/
      ME_CONFIG_BASICAUTH: false
    
  prometheus:
    image: prom/prometheus:v3.7.3
    ports:
      - 9090:9090
      - 8080:8080
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
  
  grafana:
    image: grafana/grafana:12.1
    volumes:
      - "./datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml"
      - ./dashboard.yaml:/etc/grafana/provisioning/dashboards/main.yaml
      - ./dashboards:/var/lib/grafana/dashboards
    ports:
      - "3000:3000"
